@font-face {
    font-family: 'mycustomfont';
    src:    url('fonts/mycustomfont.eot?f0oagf');
    src:    url('fonts/mycustomfont.eot?f0oagf#iefix') format('embedded-opentype'),
        url('fonts/mycustomfont.ttf?f0oagf') format('truetype'),
        url('fonts/mycustomfont.woff?f0oagf') format('woff'),
        url('fonts/mycustomfont.svg?f0oagf#mycustomfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mycustomfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-organisation:before {
    content: "\e909";
}
.icon-refer:before {
    content: "\e90a";
}
.icon-contactus:before {
    content: "\e900";
}
.icon-faq:before {
    content: "\e901";
}
.icon-feedback:before {
    content: "\e902";
}
.icon-help:before {
    content: "\e903";
}
.icon-info:before {
    content: "\e904";
}
.icon-orders:before {
    content: "\e905";
}
.icon-products:before {
    content: "\e906";
}
.icon-profile:before {
    content: "\e907";
}
.icon-termsandconditions:before {
    content: "\e908";
}

